@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   @include MyFlex();
@font-face {
  font-family: "Barlow-Bold";
  src: url("../../../font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../../../font/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../../../font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../../../font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Barlow-Light";
  src: url("../../../font/Poppins-Light.ttf");
}

#industrySection {
  background-color: #ffffff;
  padding: 30px 10px;

  .upBox {
    @include MyFlex();
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 0px 20px;

    span {
      font-family: "Barlow-SemiBold";
      font-size: 30px;
      margin-bottom: -10px;
      color: #7985c8;
    }

    h3 {
      font-size: 40px;
      font-family: "Barlow-Medium";
      color: #002e7a;
    }

    p {
      font-size: 17px;
      font-family: "Barlow-Light";
      color: #4f546f;
      max-width: 700px;
    }
  }

  .downBox {
    display: flex;
    gap: 20px;
    @include MyFlex();
    padding: 40px 20px;
    flex-wrap: wrap;

    .cart {
      background-color: #f3f8ff;
      width: 410px;
      min-height: 500px;
      position: relative;
      padding: 20px 10px;
      @include MyFlex();
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 10px;
      border: 2px solid transparent;


      .icon {

        img {
          max-width: 30px;
        }
      }

      p {
        z-index: 2;
        font-family: "Barlow-Medium";
        font-size: 23px;
        color: #104680;
        text-align: left;
      }

      span {
        z-index: 2;
        text-align: center;
        font-family: "Barlow-Light";
        text-align: left;

      }

      button {
        margin-top: 10px;
        background-color: transparent;
        color: #104680;
        border: none;
        cursor: pointer;
        font-size: 20px;
        @include MyFlex();
        opacity: 0;
        gap: 5px;
        transition: 0.5s;
        z-index: 2;
      }
    }

    .cart:hover {
      button {
        transition: 0.5s;
        opacity: 1;
      }

      border: 2px solid #5f697996;


    }
  }
}

@media only screen and (max-width: 581px) {
  #industrySection {
    .downBox {
      .cart {
        background-color: #f3f8ff;
        width: 310px;
        min-height: 300px;
      }
    }
  }
}