* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   @include MyFlex();
@font-face {
  font-family: "Barlow-Bold";
  src: url("../../../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../../../font/Barlow-SemiBold.ttf");
}
@font-face {
  font-family: "Barlow-Medium";
  src: url("../../../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Regular";
  src: url("../../../font/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Light";
  src: url("../../../font/Poppins-Light.ttf");
}

.allNavbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.upText {
  background-color: white;
  width: 100%;
  @include MyFlex();
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #002e7a;
  gap: 10px;

  p {
    color: #002e7a;

    span {
      color: #0d6ce1;
    }
  }

  .icons {
    display: flex;
    gap: 20px;

    p {
      cursor: pointer;
      transition: 0.7s;
    }

    p:hover {
      transform: rotateY(180deg);
      transition: 0.7s;
    }
  }
}

nav {
  display: flex;
  background-color: white;
  @include MyFlex();
  gap: 40px;
  padding: 20px 100px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  font-family: "Barlow-Light";
  img {
    max-width: 100px;
  }
  ul {
    font-size: 25px;
    display: flex;
    list-style: none;
    gap: 20px;
    li {
      cursor: pointer;
    }

    .link {
      color: #002e7a;
      text-decoration: none;
      position: relative;
      .line {
        background-color: #f3f8ff;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: -10px;
        @include MyFlex();
        border: 1px solid #002e7a;
        p {
          font-size: 17px;
        }
      }
    }
  }

  .leftBox {
    display: flex;
    gap: 15px;

    button {
      padding: 15px 30px;
      border: 1px solid #002e7a;
      transition: 0.3s;
      color: #002e7a;
      background-color: transparent;
      font-size: 20px;
      cursor: pointer;
    }

    button:hover {
      background-color: #002e7a;
      transition: 0.3s;
      color: white;
    }

    .informBox {
      @include MyFlex();
      gap: 10px;

      .icon {
        font-size: 40px;
        color: #002e7a;
      }

      .textBox {
        color: #002e7a;
        display: flex;
        flex-direction: column;

        p {
          color: gray;
        }
      }
    }
  }
  .menuBox {
    padding: 10px 40px;
    display: none;
    width: 200px;
    top: 10px;
    right: 0;
    gap: 10px;
    p {
      font-size: 20px;
      @include MyFlex();
      background-color: #0d6ce1;
      padding: 1px 8px;
      border-radius: 5px;
      color: white;
    }
  }
  .respNavbar {
    display: none;
    background-color: #0d6ce1;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0px;
    ul {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
          color: white !important;
      }
    }
  }
  .openNavbar {
    display: block;
  }
}

@media only screen and (max-width: 1125px) {
  nav {
    .leftBox {
      display: flex;
      gap: 15px;

      button {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 938px) {
  .upText {
    display: none;
    padding: 20px 10px;
    p {
      color: #002e7a;
      font-size: 14px;
    }
    .icons {
      gap: 10px;

      p {
        cursor: pointer;
        transition: 0.7s;
      }

      p:hover {
        transform: rotateY(180deg);
        transition: 0.7s;
      }
    }
  }
  nav {
    padding: 20px 10px;

    ul {
      display: none;
    }

    .leftBox {
      .informBox {
        .icon {
          font-size: 30px;
        }
        .textBox {
          font-size: 10px;
        }
      }
    }
    .menuBox {
      position: absolute;
      @include MyFlex();
      justify-content: end;
      z-index: 2;
    }
  }
}
