@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   @include MyFlex();
@font-face {
  font-family: "Barlow-Bold";
  src: url("../../../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../../../font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Barlow-Medium";
  src: url("../../../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Regular";
  src: url("../../../font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Light";
  src: url("../../../font/Poppins-Light.ttf");
}
#insightsSection {
  @include MyFlex();
  height: 90vh;
  padding: 50px;

  .leftBox {
    width: 50%;
    height: 100%;
    color: white;
    @include MyFlex();
    background-color: #104680;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 20px;

    h1 {
      font-size: 40px;
      font-family: "Barlow-SemiBold";
      max-width: 500px;
    }

    p {
      font-family: "Barlow-Regular";
      max-width: 500px;
    }

    button {
      padding: 15px 35px;
      border: 2px solid white;
      cursor: pointer;
      color: white;
      background-color: transparent;
      transition: 0.5s;
    }

    button:hover {
      background-color: #316ec2;
      transition: 0.5s;
      border: 2px solid #316ec2;
    }
  }

  .rightBox {
    height: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 1002px) {
  #insightsSection {
    height: 160vh;
    padding: 10px;
    flex-direction: column;

    .leftBox {
      text-align: center;
    @include MyFlex();
    width: 100%;
      padding: 20px;
      h1 {
        text-align: center;
        width: 100%;
        font-size: 30px;
      }
      p {
        max-width: 100%;
      }
    }

    .rightBox {
      width: 100%;
    }
  }
}
